<br><br><br>

  <div class="content">
    <h1>WildBets Most Asked Questions</h1>
  <br>
    <!-- _________ SECTIONS __________ -->
  
    <h3>Frequently Asked Questions about our Services</h3>
  
    <div>
      <input type="checkbox" id="question1" name="q"  class="questions">
      <div class="plus">+</div>
      <label for="question1" class="question">
        What is the interest of this platform?
       </label>
      <div class="answers">
        <p>
            WildBets is an online crypto sports betting platform that focuses on soccer betting.
        </p>
  
      </div>
    </div>
    <!-- ___________________ -->
    <div>
      <input type="checkbox" id="question3" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question3" class="question">
        How do I find my transaction hash?
      </label>
      <div class="answers">
        <p>you shoud login to your account then go to transactions /my transactions you will
           find there all the transactions that you made and you  can simply get your transaction address
            from there   </p>
  
      </div>
    </div>
     <!-- ___________________ -->
   <!-- ___________________ -->
   <div>
    <input type="checkbox" id="question6" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question6" class="question">
  What makes this platform any different ?
    </label>
    <div class="answers">
     <p>WildBets allows you to bet on any match anonymously, without the knowledge of any third party, you can pick your match, place your bet, and collect your winings without having to think about theft or money loss.</p>
  
    </div>
  </div>
    <div>
      <input type="checkbox" id="question2" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question2" class="question">
        Customer support is available ?
      </label>
      <div class="answers">
        <p>Yes, 24/7, you can send an email to team@wildbets.com to get any answers you need.
        </p>
  
      </div>
    </div>
    <!-- ___________________ -->
  
    <!-- ___________________ -->
    <div>
      <input type="checkbox" id="question5" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question5" class="question">
        What is the effective staking amount?
      </label>
      <div class="answers">
        <p>You can place your bet following your own strategy, if you dont have one you can subscribe to our analysis team </p>
  
      </div>
    </div>
    <!-- ___________________ -->
    <div>
      <input type="checkbox" id="question6" name="q" class="questions">
      <div class="plus">+</div>
      <label for="question6" class="question">
    how many users do we have?
      </label>
      <div class="answers">
        <p>about 1 million user from different countries </p>

      </div>
    </div>
  
  
  
  
    </div>