
  <div class="">
    <div style="background: url('./assets/images/bg.svg') 100%;" class="pt-28 pl-28 pb-12 grid content-center">

      <h1 class="text-center text-5xl font-extrabold text-white" >Filter By League, Round & Match</h1>
      <h2 class="text-center text-2xl font-bold mt-4 text-white" >Place Your Bets by clicking on the team</h2>

      <div class="flex justify-center">
        <select [(ngModel)]="RoundId" name="RoundId" (ngModelChange)="search(RoundId)"
        class="w-64 mt-4 px-4 py-3 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">

          <option *ngFor="let round of Rounds" [value]="round.round_id">
            Round N°: {{round.name}}
              <p *ngIf="round.league_id==237">(Premier League)</p>
              <p *ngIf="round.league_id==538">(La Liga)</p>
          </option>

        </select>
      </div>


          <!-- <select [(ngModel)]="LeagueId" name="LeagueId" (ngModelChange)="search(RoundId)"
          class="px-4 py-3 w-18 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">

            <option *ngFor="let round of Rounds" [value]="round.round_id">
              League N°: {{round.name}}
                <p *ngIf="round.league_id==237">(Premier League)</p>
                <p *ngIf="round.league_id==538">(La Liga)</p>
            </option>

          </select>


          <select [(ngModel)]="RoundId" name="RoundId" (ngModelChange)="search(RoundId)"
          class="px-4 py-3 w-18 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">

            <option *ngFor="let round of Rounds" [value]="round.round_id">
              Round N°: {{round.name}}
                <p *ngIf="round.league_id==237">(Premier League)</p>
                <p *ngIf="round.league_id==538">(La Liga)</p>
            </option>

          </select> -->


    </div>
  </div>


  <div class="h-max h-96" >
      <div style="background: url('./assets/images/bg.svg') 100%;" class="betcardbg h-max bg-gradient-to-br grid grid-cols-4 justify-center text-black">

        <app-card
            class="font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs"
            style="background: url('./assets/images/kora.jpg') ; "

            *ngFor="let match of Matches"

            [HomeTeam]='match.home_team?.name'
            [AwayTeam]='match.away_team?.name'
            [HomeTeamImg]='match.home_team?.logo'
            [AwayTeamImg]='match.away_team?.logo'
            [homescore]='match.stats?.home_score'
            [awayscore]='match.stats?.away_score'
            [homescore_SC]='match.home_team?.short_code'
            [awayscore_SC]='match.away_team?.short_code'
            [contractAddress]="match.contract_address"
          >
        </app-card>

      </div>
  </div>



